body {
	background-color: #343a40;
}

#remote {
	max-width: 18rem;
}

@media all and (max-width: 1024px)
{
	body {
		zoom: 220%;
	}
	#remote {
		max-width: initial;
		width: 100%;
		padding: 0;
		margin: 0 !important;
	}
}