body {
  background-color: #343a40;
}
#remote {
  max-width: 18rem;
}
::-webkit-scrollbar {
  width: 0px;
}
#settings-icon {
  position: absolute;
  top: 13px;
  left: 14px;
  cursor: pointer;
  transition-duration: .3s;
}
#settings-icon:hover {
  text-shadow: 0 0 20px #ffffff;
}

@media all and (max-width: 500px)
{
  body {
    zoom: 130%;
  }
  #remote {
    max-width: initial;
    width: 100%;
    padding: 0;
    margin: 0 !important;
  }
  #settings-icon {
    top: 9px;
    left: 8px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .6s ease;
}
.slide-fade-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}
